{% extends 'main/layout.html' %}

{% load static %}
{% block content %}

<div class="login">
    <h3 text-align="center" class="htext">Вход</h3>
<div id="input1d">
    <label for="input1">Логин</label>
    <input type="text" id="input1" placeholder="Логин">
</div>
<div id="input2d">
    <label for="input2">Пароль</label>
    <input type="password" id="input2" placeholder="Пароль">
    <button onclick="ShowPass()" id="showbt"><svg style="margin-bottom: 8px" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="grey" class="bi bi-eye-fill" viewBox="0 0 16 16">
  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
</svg></button>
</div>
    <button class="btn btn-outline-success" id="LoginBtn">Войти</button>
    <button class="btn btn-outline-secondary" id="RegBtn" type="button" onclick="location.href='{% url 'register' %}'">Регистрация</button>
    <a href="" id="forgot">Забыли пароль?</a>

</div>
{% endblock %}

{% block script %}
<script src="{% static 'main/js/script.js' %}"></script>



{% endblock %}
