{% extends 'main/layout.html' %}
{% load static %}
{% block content %}







<div class="newblockmain">

    <div class="funcblock">
            <form method="GET" action="{% url 'news_view' %}">
                <input type="text" name="search_query" value="{{ search_query }}" placeholder="Поиск" class="search-input">
                <button type="submit"  id="search" class="btn btn-outline-primary">Поиск</button>
                {% if search_query %}
                    <button type="button" id="cancel" onclick="window.location.href='{% url 'news_view' %}'"
                            class="btn btn-outline-warning">Отменить</button>
                {% endif %}
                <button type="submit" name="sort_order"  id="sortb" class="btn btn-outline-secondary"
                        value="{% if sort_order == '-id' %}id{% else %}-id{% endif %}">
            {% if sort_order == '-id' %}
                Сначала старое
            {% else %}
                Сначала новое
            {% endif %}
        </button>
            </form>
    </div>

  {% if text_indexes %}
    {% for text_index in text_indexes %}
    <div class="newblock">
      <div class="newtitle">
        <p><b>{{ text_index.title }}</b> <sup>{{ text_index.created_at|date }}</sup> </p>
      </div>
      <div class="newtext">
        <p>{{ text_index.big_text|safe }}</p>
      </div>
      <div class="newimg">
        {% for image in text_index.images.all %}
        <img class="photonews" src="{{ image.image.url }}" alt="{{ text_index.ititle }}">
        {% endfor %}
      </div>
     {% if user.is_authenticated %}
    <div class="like">
       <form method="POST" action="{% url 'like_article' %}">
    {% csrf_token %}
    <input type="hidden" name="article_id" value="{{ text_index.id }}">
    <button type="submit" class="like-btn">
        {% if text_index in request.user.profile.liked_articles.all %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>
        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
</svg>
        {% endif %}
    </button>
</form>
    </div>
    {% endif %}
    </div>
    {% endfor %}
   {% else %}
    <div class="err">
        <p class="not-found">Ничего не найдено</p>
        <button onclick="history.back()"  id="retry" class="btn btn-outline-warning">Вернуться назад</button>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block title  %}
Новости
{% endblock %}

{% block script %}
<script>
    $(function(){
  $('.minimized,.timage,.timageleft,.photonews').click(function(event) {
    var i_path = $(this).attr('src');
    var i_placeholder = $(this).attr('alt');
    $('body').append('<div id="overlay"></div><div id="magnify"><img src="'+i_path+'"></div>');

    var textDiv = '<div id="textDiv">' + i_placeholder + '</div>';
    $('#magnify').append(textDiv);

    var windowWidth = $(window).width();
    var windowHeight = $(window).height();
    var magnifyWidth = $('#magnify').outerWidth();
    var magnifyHeight = $('#magnify').outerHeight();

    var leftPosition = (windowWidth - magnifyWidth) / 2;
    var topPosition = (windowHeight * 0.02);

    $('#magnify').css({
      // left: leftPosition + 'px',
      // top: topPosition + 'px'
    });
    $('#overlay, #magnify').fadeIn('fast');

    var textDivWidth = $('#textDiv').outerWidth();
    var textDivHeight = $('#textDiv').outerHeight();
    var imgWidth = $('#magnify img').outerWidth();
    var imgHeight = $('#magnify img').outerHeight();

    if (imgHeight > 400) {
      var ratio = 400 / imgHeight;
      imgWidth *= ratio;
      imgHeight = 400;
    }

    $('#magnify img').css({
      width: imgWidth,
      height: imgHeight
    });

    $('#textDiv').css({
      left: $('#magnify').position().left + imgWidth,
      top: $('#magnify').position().top,
      background: 'rgba(0,0,0,.5)',
      borderRadius: '10px',
      color: 'white',
      fontFamily: 'Exo 2, sans-serif'
    });
  });

  $('body').on('click', '#overlay', function(event) {
    event.preventDefault();
    $('#overlay, #magnify, #textDiv').fadeOut('fast', function() {
      $('#close-popup, #magnify, #overlay, #textDiv').remove();
    });
  });
});
</script>
{% endblock %}