{% extends 'main/layout.html' %}
{% load static %}
{% block content %}

<div class="mainblock">

    <div class="textblock">
        <p class="Titleblock"><b>Растениеводство:</b></p>

        {% for text_index in text_indexes %}
        <p>{{ text_index.big_text }}</p>
        {% endfor %}

        <div class="picblock">

            {% for card in cards %}
                <div class="moredesc">
                    <a href="{% url 'card_detail' card_id=card.id %}">
                        <img class="minimized3" src="{{ card.image.url }}" alt="{{ card.title }}">
                        <p class="image-description">{{ card.title }}</p>
                    </a>
                </div>
            {% endfor %}


        </div>

    </div>

    <div class="contectblock">

    <div class="simg">
        {% for subimage in simg %}
            {% if subimage.image %}
                <img class="minimized2" src="{{ subimage.image.url }}" alt="{{ subimage.title }}">
            {% endif %}
        {% endfor %}
    </div>

    </div>

</div>

{% endblock %}
{% block title  %}
Растениеводство
{% endblock %}

{% block script %}
<script>
    $(function(){
  $('.minimized2').click(function(event) {
    var i_path = $(this).attr('src');
    var i_placeholder = $(this).attr('alt');
    $('body').append('<div id="overlay"></div><div id="magnify"><img src="'+i_path+'"></div>');

    var textDiv = '<div id="textDiv">' + i_placeholder + '</div>';
    $('#magnify').append(textDiv);

    var windowWidth = $(window).width();
    var windowHeight = $(window).height();
    var magnifyWidth = $('#magnify').outerWidth();
    var magnifyHeight = $('#magnify').outerHeight();

    var leftPosition = (windowWidth - magnifyWidth) / 2;
    var topPosition = (windowHeight * 0.02);

    $('#magnify').css({
      // left: leftPosition + 'px',
      // top: topPosition + 'px'
    });
    $('#overlay, #magnify').fadeIn('fast');

    var textDivWidth = $('#textDiv').outerWidth();
    var textDivHeight = $('#textDiv').outerHeight();
    var imgWidth = $('#magnify img').outerWidth();
    var imgHeight = $('#magnify img').outerHeight();

    if (imgHeight > 400) {
      var ratio = 400 / imgHeight;
      imgWidth *= ratio;
      imgHeight = 400;
    }

    $('#magnify img').css({
      width: imgWidth,
      height: imgHeight
    });

    $('#textDiv').css({
      left: $('#magnify').position().left + imgWidth,
      top: $('#magnify').position().top,
      background: 'rgba(0,0,0,.5)',
      borderRadius: '10px',
      color: 'white',
      fontFamily: 'Exo 2, sans-serif'
    });
  });

  $('body').on('click', '#overlay', function(event) {
    event.preventDefault();
    $('#overlay, #magnify, #textDiv').fadeOut('fast', function() {
      $('#close-popup, #magnify, #overlay, #textDiv').remove();
    });
  });
});
</script>


{% endblock %}