{% extends 'main/layout.html' %}

{% block content  %}
<div class="features">
    <h1>Наша продукция</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus massa eget mollis auctor. Ut eget fringilla elit, vitae faucibus massa. Nullam ut risus venenatis, porta nisi et, convallis urna. Duis euismod euismod lacus sit amet vestibulum. Cras eu augue eu massa luctus ultrices pharetra bibendum nisi. Pellentesque vel pellentesque ex. Mauris gravida massa sed mauris condimentum rutrum eu sed nisi. Duis eleifend diam pulvinar.</p>
    <button class="btn btn-outline-primary">Primary</button>
</div>
{% endblock %}

{% block title  %}
Продукция
{% endblock %}