{% extends 'main/layout.html' %}
{% load static %}
{% block content  %}
<div class="featuresa">

  {% for product in products %}
<div class="card">
    <img src="{{ product.image.url }}" class="imagecard" alt="">
    <div class="textcard">
        <p class="cardtitle"> <b>{{ product.title }}</b> </p>
        <p class="tcard">{{ product.text }}</p>
    </div>
    <button class="btn btn-outline-primary">Подробнее</button>
</div>
{% endfor %}





</div>
{% endblock %}

{% block title  %}
Направления деятельности
{% endblock %}


{% block script %}
<script src="{% static 'main/js/script.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Clamp.js/0.5.1/clamp.min.js"></script>
<script>
   var textcards = document.querySelectorAll(".textcard p");
textcards.forEach(function(textcard) {
  $clamp(textcard, {
    clamp: 3, // Число строк
    useNativeClamp: false // НЕ используем -webkit-line-clamp
  });
});
  </script>


{% endblock %}