{% extends 'main/layout.html' %}
{% load static %}
{% block content  %}
<div class="featuresa">


    <div class="cardplace">
        <div class="shopcart" onclick="">
            <div class="shop" onclick="redirectToShopPage()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
            </div>
            <div class="dw" onclick="window.location.href='{{ file.file.url }}'">
                <button  type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
  <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
</svg></button>
            </div>
        </div>
{% for product in products %}
        <div class="card">
            <div class="imgdiv">
                <img src="{{ product.image.url }}" alt="">
            </div>
            <p><b>{{ product.title }}</b></p>
            <div class="desc">
                <p class="tcard">{{ product.text }}</p>
            </div>
            <a href="{{ product.pagetitle }}"><button type="submit" class="btn btn-outline-success">Подробнее</button></a>
        </div>
{% endfor %}
    </div>

<!--         {% for product in products %}-->
<!--    <div class="card">-->
<!--    <img src="{{ product.image.url }}" class="imagecard" alt="">-->
<!--    <div class="textcard">-->
<!--        <p class="cardtitle"> <b>{{ product.title }}</b> </p>-->
<!--        <p class="tcard">{{ product.text }}</p>-->
<!--    </div>-->
<!--    <button class="btn btn-outline-primary">Подробнее</button>-->
<!--    </div>-->
<!--{% endfor %}-->








</div>
{% endblock %}

{% block title  %}
Направления деятельности
{% endblock %}


{% block script %}
<script src="{% static 'main/js/script.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Clamp.js/0.5.1/clamp.min.js"></script>
<script>
   var textcards = document.querySelectorAll(".card p");
textcards.forEach(function(textcard) {
  $clamp(textcard, {
    clamp: 3, // Число строк
    useNativeClamp: false // НЕ используем -webkit-line-clamp
  });
});
  </script>

<script>
  function redirectToShopPage() {
    window.location.href = "{% url 'shop' %}";
  }
</script>
{% endblock %}