{% extends 'main/layout.html' %}

{% load static %}
{% block content %}
    <div class="profmain">

        <div class="profinfo">
            <div class="propic">
                {% if user.profile.pic %}
                <img src="{{ user.profile.pic.url }}" alt="">
                {% else %}
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRIGRRjenklOCfhEiSONGgeDAmpOp3Aipiww&usqp=CAU" alt="">
                {% endif %}
            </div>
            <div class="proftext">

                <div class="name">
                    {% if user.first_name and user.last_name %}
    <p><b>{{ user.first_name }} {{ user.last_name }}{% if user.is_superuser %} <i class="bi bi-patch-check-fill" title="Администратор"></i> {% endif %}</b></p>
{% else %}
    <p><b>{{ user.username }}{% if user.is_superuser %} <i class="bi bi-patch-check-fill"></i> {% endif %}</b></p>
{% endif %}

                     {% if user.profile.phone_number and user.profile.phone_number %}
                        <p>Телефон: <b>{{ user.profile.phone_number }}</b></p>
                    {% else %}
                        <p>Телефон: <b>Не Указан</b></p>
                    {% endif %}
                    {% if user.email and user.email %}
                        <p>Email: <b>{{ user.email }}</b></p>
                    {% else %}
                        <p>Email: <b>Не Указан</b></p>
                    {% endif %}
                    {% if user.profile.birth_date %}
                        <p>Дата рождения: <b>{{ user.profile.birth_date }}</b></p>
                    {% else %}
                        <p>Дата рождения: <b>Не Указана</b></p>
                    {% endif %}
                    {% if user.is_superuser %} <a href="{% url 'admin:index' %}">Админ-Панель</a> {% endif %}
                </div>
                <div class="editb">
                    <form id="upload-form" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form.pic }}

                </form>
                <button class="editprofile" onclick="location.href='{% url 'edit_profile' %}'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</svg>
                </button>


                </div>
            </div>
        </div>
    <div class="liked-articles">

            {% if liked_articles %}
                <p class="not-found">Избранные новости</p>
                {% for article in liked_articles %}
                    <div class="newblock">
                        <div class="newtitle">
                            <p><b>{{ article.title }}</b> <sup>{{ article.created_at|date }}</sup></p>
                        </div>
                        <div class="newtext">
                            <p>{{ article.big_text|safe }}</p>
                        </div>
                        <div class="newimg">
                            {% for image in article.images.all %}
                                <img class="photonews" src="{{ image.image.url }}" alt="{{ article.title }}">
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="err">
                    <p class="not-found">Вы еще не добавли в избранное ни одной новости</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
document.addEventListener('DOMContentLoaded', function() {
  const form = document.querySelector('#upload-form');
  const input = document.querySelector('#id_pic');
  const preview = document.querySelector('.propic img');

  input.addEventListener('change', function() {
    const file = input.files[0];
    const reader = new FileReader();

    reader.onloadend = function() {
      preview.src = reader.result;
      form.submit(); // Отправка формы
    };

    if (file) {
      reader.readAsDataURL(file);
    } else {
      preview.src = "";
    }
  });
});
</script>
    <script>
    $(function(){
  $('.minimized,.timage,.timageleft,.photonews').click(function(event) {
    var i_path = $(this).attr('src');
    var i_placeholder = $(this).attr('alt');
    $('body').append('<div id="overlay"></div><div id="magnify"><img src="'+i_path+'"></div>');

    var textDiv = '<div id="textDiv">' + i_placeholder + '</div>';
    $('#magnify').append(textDiv);

    var windowWidth = $(window).width();
    var windowHeight = $(window).height();
    var magnifyWidth = $('#magnify').outerWidth();
    var magnifyHeight = $('#magnify').outerHeight();

    var leftPosition = (windowWidth - magnifyWidth) / 2;
    var topPosition = (windowHeight * 0.02);

    $('#magnify').css({
      // left: leftPosition + 'px',
      // top: topPosition + 'px'
    });
    $('#overlay, #magnify').fadeIn('fast');

    var textDivWidth = $('#textDiv').outerWidth();
    var textDivHeight = $('#textDiv').outerHeight();
    var imgWidth = $('#magnify img').outerWidth();
    var imgHeight = $('#magnify img').outerHeight();

    if (imgHeight > 400) {
      var ratio = 400 / imgHeight;
      imgWidth *= ratio;
      imgHeight = 400;
    }

    $('#magnify img').css({
      width: imgWidth,
      height: imgHeight
    });

    $('#textDiv').css({
      left: $('#magnify').position().left + imgWidth,
      top: $('#magnify').position().top,
      background: 'rgba(0,0,0,.5)',
      borderRadius: '10px',
      color: 'white',
      fontFamily: 'Exo 2, sans-serif'
    });
  });

  $('body').on('click', '#overlay', function(event) {
    event.preventDefault();
    $('#overlay, #magnify, #textDiv').fadeOut('fast', function() {
      $('#close-popup, #magnify, #overlay, #textDiv').remove();
    });
  });
});
</script>
{% endblock %}