{% extends 'main/layout.html' %}
{% load static %}
{% block content %}


{% csrf_token %}
<div class="shopblock">
<div class="shopieldFiz2">
                    <p>Продукт:</p>
                    <select id="productfiz" class="select2">
                      {% for animal_card in animals_cards %}
                      <option value="{{ animal_card.title }}">{{ animal_card.title }}</option>
                      {% endfor %}
                      {% for plant_card in plants_cards %}
                      <option value="{{ plant_card.title }}">{{ plant_card.title }}</option>
                      {% endfor %}
                    </select>
                    <p>ФИО</p>
                    <input type="text" id="fiofiz" placeholder="ФИО">
                    <p>Телефон</p>
                    <input type="text" id="phonefiz" placeholder="Телефон">
                    <p>Адрес</p>
                    <input type="text" id="addressfiz" placeholder="Адрес">
                    <p>Количество:</p>
                    <input type="text" id="colvo" placeholder="Количество">

                    <button type="submit" id="fizbut2" class="btn btn-outline-success">Заказать</button>
                    <button type="submit" id="urface" class="btn btn-outline-primary">Для Юр. Лиц</button>
        </div>

        <div class="shopieldYur2">
            <p>Продукт:</p>
            <select id="productfur" class="select2" readonly>
              {% for animal_card in animals_cards %}
              <option value="{{ animal_card.title }}">{{ animal_card.title }}</option>
              {% endfor %}
              {% for plant_card in plants_cards %}
              <option value="{{ plant_card.title }}">{{ plant_card.title }}</option>
              {% endfor %}
            </select>
            <p>Юридическое лицо</p>
            <input type="text" id="urfacei" placeholder="Юр. Лицо">
            <p>ФИО Руководителя</p>
            <input type="text" id="fioruki" placeholder="ФИО руководителя">
            <p>Телефон</p>
            <input type="text" id="phoneuri" placeholder="Телефон">
             <p>Юридический адрес</p>
            <input type="text" id="addressuri" placeholder="Юр. Адрес">
            <p>Количество:</p>
            <input type="text" id="colvouri" placeholder="Количество">
            <button type="submit" id="senurb" class="btn btn-outline-success">Заказать</button>
            <button type="submit" id="urface2" class="btn btn-outline-primary">Для Физ. Лиц</button>
        </div>
</div>

{% endblock %}

{% block title  %}
Заказ
{% endblock %}

{% block script %}
<script>
 document.getElementById("urface").addEventListener("click", function() {
    document.querySelector(".shopieldYur2").style.display = "flex";
    document.querySelector(".shopieldFiz2").style.display = "none";
});

document.getElementById("urface2").addEventListener("click", function() {
    document.querySelector(".shopieldYur2").style.display = "none";
    document.querySelector(".shopieldFiz2").style.display = "flex";
});

</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('#fizbut2').click(function(event) {
        event.preventDefault();

        var product = $('#productfiz').val();
        var fio = $('#fiofiz').val();
        var phone = $('#phonefiz').val();
        var address = $('#addressfiz').val();
        var colvo = $('#colvo').val();

        $.ajax({
            url: '/create_order/',  // Используйте ваш URL-путь для представления create_order
            type: 'POST',
            data: {
                'productfiz': product,
                'fiofiz': fio,
                'phonefiz': phone,
                'addressfiz': address,
                'colvo': colvo,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.success) {
                    alert('Заказ успешно создан.');
                } else {
                    alert('Не удалось создать заказ.');
                }
            },
            error: function() {
                alert('Произошла ошибка при создании заказа.');
            }
        });
    });
});
</script>
<script>
$(document).ready(function() {
    $('#senurb').click(function(event) {
        event.preventDefault();

        var product = $('#productur').val();
        var urFace = $('#urfacei').val();
        var fioRuk = $('#fioruki').val();
        var phone = $('#phoneuri').val();
        var urAddress = $('#addressuri').val();
        var colvo = $('#colvouri').val();

        $.ajax({
            url: '/create_order_ur/',  // Используйте ваш URL-путь для представления create_order_ur
            type: 'POST',
            data: {
                'productur': product,
                'urfacei': urFace,
                'fioruki': fioRuk,
                'phoneuri': phone,
                'addressuri': urAddress,
                'colvouri': colvo,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.success) {
                    alert('Заказ успешно создан.');
                } else {
                    alert('Не удалось создать заказ.');
                }
            },
            error: function() {
                alert('Произошла ошибка при создании заказа.');
            }
        });
    });
});
</script>


<script>
document.getElementById("senurb").addEventListener("click", function() {
    var csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
    var UrFace = document.getElementById("urfacei").value;
    var Fio = document.getElementById("fioruki").value;
    var Phone = document.getElementById("phoneuri").value;
    var address = document.getElementById("addressuri").value;
    var appeal = document.getElementById("appealURi").value;

    var xhr = new XMLHttpRequest();
    xhr.open("POST", "{% url 'contacts' %}", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.setRequestHeader("X-CSRFToken", csrfToken);
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
            // Обработка успешного ответа от сервера
            console.log(xhr.responseText);
        }
    };

    var data = JSON.stringify({
        "UrFace": UrFace,
        "Fio": Fio,
        "Phone": Phone,
        "address": address,
        "appeal": appeal
    });
    xhr.send(data);
});

</script>
<script>

document.getElementById("fizbut").addEventListener("click", function() {
    var csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
    var Fio = document.getElementById("fiofiz").value;
    var Phone = document.getElementById("phonefiz").value;
    var address = document.getElementById("addressfiz").value;
    var appeal = document.getElementById("appealfiz").value;

    var xhr = new XMLHttpRequest();
    xhr.open("POST", "{% url 'contacts' %}", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.setRequestHeader("X-CSRFToken", csrfToken);
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
            // Обработка успешного ответа от сервера
            console.log(xhr.responseText);
        }
    };

    var data = JSON.stringify({
        "Fio": Fio,
        "Phone": Phone,
        "address": address,
        "appeal": appeal
    });
    xhr.send(data);
});
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0/js/select2.min.js"></script>
<script>
  $(document).ready(function() {
    $('.select2').select2({
      theme: 'classic',
      dropdownCssClass: 'rounded-dropdown' // Добавьте класс для закругленных уголков
    });
  });
</script>
{% endblock %}